# === Core dependencies ===
node_modules/

# === Build outputs ===
dist/
build/
out/
.vercel/
.next/
.vite/
.vite-temp/

# === Cache ===
*.local

# === Env files ===
.env
.env.*.local

# === Logs ===
*.log

# === Editor folders ===
.vscode/
.idea/
.DS_Store
